/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Светлый фон */
    color: #333333; /* Текст темный */
    margin: 0;
    padding: 0;
}

header {
    background-color: #D1D1D1; /* Цвет RAL 7033 */
    color: #333333;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #7D7D7D; /* Серая подсветка */
}

/* Основной контент */
main {
    padding: 40px;
    background-color: #fff; /* Белый фон для контента */
}

h2 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

/* Стили для форм */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    background-color: #7D7D7D; /* Серая кнопка */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #333333; /* Темная кнопка при наведении */
}

/* Поддержка адаптивности */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }
    header h1 {
        font-size: 28px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    main {
        padding: 20px;
    }
}
