body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
}

#services {
    padding: 20px;
    background-color: #fff;
}

.service {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

h3 {
    font-size: 24px;
    color: #333;
}

#corrections, #contact {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}